.menu {
  position: absolute;
  display: inline-block;
  margin: 10px;
  filter: drop-shadow(0 0 2em #6a9edeaa);
}

.menu-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.menu-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.menu-items li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
  padding: 5px;
  font-size: 13px;
  z-index: 999;
}

.menu-items li:hover {
  background-color: white;
  color: #333;
}

.menu-button:hover + .menu-items,
.menu-items:hover {
  display: block;
}
