/* label {
  display: flex;
  align-items: center;
  text-align: center;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100px;
  height: 8px;
  background: blue;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
input[type='range'] {
  margin: 10px;
} */

.ranges-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin: 10px;
}
